<section>
  <h1>sample of a11y in angular cdk</h1>
  <p>Angular CDK accessibility モジュールのサンプルを作っています。</p>
  <p>
    現状、完成と呼べる状態ではありません。
    今後増えるかもしれないし、増えないかもしれません。
  </p>
  <a
    href="https://material.angular.io/cdk/a11y/overview"
    target="_blank"
    rel="noopener noreferrer"
    >Angular CDK ドキュメント</a
  >
</section>
<section>
  <h2>FocusTrap</h2>
  <a routerLink="./dialog-sample">FocusTrapサンプル</a>
</section>
<section>
  <h2>ListKeyManager</h2>
  <a routerLink="./list-sample">ListKeyManagerサンプル</a>
</section>
