@import "reset";

html {
  height: 100%;
  //display: flex;
  //justify-content: center;

}
body {
  height: 100%;
  //width: 1024px;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
  padding: 32px;
}

section {
  margin-bottom: 32px;
}

h1{
  font-size: 32px;
  margin-bottom: 8px;
}

h2 {
  font-size: 24px;
  margin-bottom: 8px;
}
